<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <appSettings>
       <!-- NotificationHubs specific app setings for messaging connections -->
      <add key="Microsoft.Azure.NotificationHubs.ConnectionString"
            value="Endpoint=sb://ns-notification-hub-17.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=7JgMPUZd4coxOv17V0gGQ5Pyd62adkc8Uw5Sa5Kc0XY="/>
      
      <add key="HubSendConnection" 
           value="Endpoint=sb://ns-notification-hub-17.servicebus.windows.net/;SharedAccessKeyName=AccessToSend;SharedAccessKey=orJGOEd15nd40NlYUlLPnRbUFNjfrSeQJDgEaw4lKCM=" />
      
      <add key="HubPath" value="notification-hub-17" />
    
    </appSettings>
</configuration>